

.im-btn {
  display: inline-block;
  background-color: #ffffff;
  border: 0;
  outline: 0;
  cursor: pointer;
  line-height: 1;
}
.im-btn:before {
  margin-right: 6px;
}
.m-input-moment {
  display: inline-block;
  width: 330px;
  padding: 12px 15px;
  border-radius: 3px;
  border: 1px solid ;
}
.m-input-moment .options {
  width: 100%;
  display: inline-block;
  margin-bottom: 4px;
}
.m-input-moment .options button {
  float: left;
  width: 40%;
  color: #333;
  text-align: center;
  font-size: 16px;
  padding: 7px;
  border: 1px solid ;
  border-radius: 3px;
}
.m-input-moment .options button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.m-input-moment .options button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.m-input-moment .options button.is-active {
  color: #ffffff;
  background-color:#333 ;
}
.m-input-moment .tab {
  display: none;
  height: 310px;
}
.m-input-moment .tab.is-active {
  display: block;
}
.m-input-moment .tabs {
  margin-bottom: 11px;
}
.m-input-moment .btn-save {
  display: block;
  margin-top: 10px;
  width: 100%;
  background-color:#333 ;
  padding: 12px 0;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  border-radius: 3px;
}
