.event-form{
  max-width:350px;
  margin:auto;
  text-align:left;

}


.event-form label{
  margin:10px 0px;
}


textarea{
  width:100%;
  resize:none;
  margin-top:10px;
  padding:0px;
  height: 100px;
  border-radius:6px;
}

select{
  width:100%;
  padding:10px;
  margin:10 0px;
  border-radius:6px;
  border:1px solid #666666;
  font-size:16px;
}