.bottom-nav-container{
    background-color:#575d98;
    height:50px;
    width:100%;
    position:fixed;
    bottom:0px;
    left:0px;
    text-align:left;
    color:white;
}


.bottom-nav-progress{
    padding-left:50px;
    padding-right:20px;
}

.notransform{
    transform:none !important;
}