.home-img{
    position: fixed;
    bottom: 0px;
    max-width: 600px;
    z-index: 0;
    left: 64%;
    transform: translateX(-50%);
}


#hero-background{
    background:url('/assets/home.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 600px;
    z-index: 888;
    height: 700px;
    bottom: 0px;
    left: 30%;
    position: absolute;
}

.hero h1{
    margin-top:-10% !important;
    font-family:Graebenbach,Helvetica,Arial,sans-serif;
    font-weight:400;
    font-size:100px !important;
    position:relative;
    line-height:130%;
    color:#575e96;
    z-index:1;
    
}


@media only screen and (max-width: 450px) {


    .hero h1{
        font-size:70px !important;
        text-align:left;
        line-height:120%;
    }

    .home-img{
        width:100%;
        left:0px;
        transform:translateX(2%);
    }

  


}