.form-container{
    max-width:250px;
    margin:auto;
    text-align:left;

}


.hero h1{
    margin-top:19%;
    font-size:60px;
}

.bg{
background:url('/assets/background-2.png') !important;
background-size:cover !important;

}

.bg2{
    background:url('/assets/background-3.png') !important;
background-size:cover !important;
}

.demo-login-link {
  text-decoration: underline;
  margin-right: 30px;
  background-color: rgba(255, 255, 255, 0.8)
}

.demo-login-link:hover, .demo-login-link:focus {
  cursor: pointer;
  text-shadow: 0 0 1px orange;
  color: #575d98;
  background-color: white;
}

@media only screen and (max-width: 450px) {
  .demo-login-link {
    margin-right: 50px;
  }
}

.demo-login-link-register {
  text-decoration: underline;
  margin-right: 17px;
  background-color: rgba(255, 255, 255, 0.8)
}

.demo-login-link-register:hover, .demo-login-link-register:focus {
  cursor: pointer;
  text-shadow: 0 0 1px orange;
  color: #575d98;
  background-color: white;
}

@media only screen and (max-width: 450px) {
  .demo-login-link-register {
    margin-right: 38px;
  }
}