#select-cuisine{
    max-width:500px;
    text-align:left;
    float:left;
}

#restaurant-list{
    text-align:left;
    float:left;
    margin-left:50px;
    width:500px;
    text-align:left;

}
#restaurant-list input{
    width:20px;
    display:inline;
}

.new-event-form{
    padding-top:60px;
    max-width:800px;
    margin:auto;
}

#restaurant-list img {
  max-width: 150px;
  float:right;
  border-radius:6px;
}

.text-left{
    text-align:left !important;
}

.restaurant-item{

    border: 1px dotted;
    padding: 10px;
    clear: both;
    height: 200px;
    /* background-color: white; */
    margin: 10px 00px;
    border-radius: 6px;

}